.custom__progress {
  width: 100%;
  height: 14px;
}
.custom__progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  .custom__progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

body{
  font-family: $main-font;
}
