html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  max-width: 1920px;
  margin: 0 auto;
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//reset

header {
  padding: 30px 0px 10px 0px;
}

.custom__progress {
  width: 100%;
  height: 8px;
}

.custom__progress-wrap {
  background: #7ED321;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  .custom__progress-bar {
    background: rgb(116, 116, 116);
    left: 0;
    position: absolute;
    top: 0;
    &:after {
      content: '';
      position: absolute;
      left: -5px;
      top: 0px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 8px 0;
      border-color: transparent rgb(116, 116, 116) transparent transparent;
    }
  }
}

.qweqwe {
  &.custom__progress {
    height: 4px;
  }
  background: linear-gradient(124.85deg, #88F3E2 0%, #0098D3 100%);
  margin: 10px 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  .custom__progress-bar {
    background: #ffffff;
    left: 0;
    position: absolute;
    top: 0;
    &:after {
      display: none;
    }
  }
}

.custom {
  &__btn {
    @include btn();
    padding: 10px 12px;
    background-color: transparent;
    border: 1px solid $main-color;
    &-dark {
      background-color: $dark-color;
      border: 1px solid transparent;
    }
    &-big {
      min-width: 156px;
      display: flex;
      align-items: center;
      text-align: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

body {
  font-family: $main-font;
  font-size: $main-size;
  background-color: $bg-color;
}

body, a, p, div {
  color: $main-color;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.custom-img {
  max-width: 100%;
}

.wrapper {
  @include wrapper;
  @include md(max-width, 970px);
  @include sm(max-width, 750px);
  display: block;
  z-index: 2;
  position: relative;
}

.rowz {
  //@include row-flex();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  &__wrapper {
    //@include col();
    //margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__text {
    margin-left: 6px;
    letter-spacing: 0.75px;
    font-size: $mini-size;
    line-height: $custom-height;
    font-family: $bold-font;
  }
  margin-left: -15px;

  & img {
    //margin: 0px -12px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  //margin-left: auto;
  & > * {
    margin-left: 22px;
  }
}

.bounty {
  line-height: 13px;
  //margin-right: 88px;
  padding: 10px 23px;
  font-family: $bold-font;
}

//==================================================select=====================================================================
.custom-select {
  position: relative;
  border-radius: 9px;
  border: 1px solid $main-color;
  //width: 100%;
  min-width: 85px;
  padding-left: 10px;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  width: 100%;
  background-color: transparent;
  &:before {
    background-image: url("../img/ru.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: calc(50% - 7px);
    display: block;
    background-size: cover;
    content: '';
  }
  &[data-language="0"] {
    &:before {
      background-image: url("../img/ru.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 20px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
  &[data-language="1"] {
    &:before {
      background-image: url("../img/uk.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 20px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
  &[data-language="2"] {
    &:before {
      background-image: url("../img/ua.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 20px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  right: 10px;
  width: 0px;
  height: 50%;
  background: transparent;
  border-style: solid;
  border-width: 5px 3.5px 0 3.5px;
  border-color: #ffffff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  //padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: transparent;
  background-color: red;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid $main-color;
  border-radius: 9px;
  margin-top: 10px;
  font-size: 14px;
  z-index: 99999;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items a {
  padding: 8px 10px;
  display: block;
}

.select-items {
  & > a:nth-child(1) {
    position: relative;
    &:after {
      background-image: url("../img/ru.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
  & > a:nth-child(2) {
    position: relative;
    &:after {
      background-image: url("../img/uk.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
  & > a:nth-child(3) {
    position: relative;
    &:after {
      background-image: url("../img/ua.png");
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      display: block;
      background-size: cover;
      content: '';
    }
  }
}

//==================================================select=====================================================================
.registration {
  //margin-right: 60px;
}

.first-block {
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url(../img/bg_footb.png);
  position: relative;
  background-size: inherit;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: right bottom -10px;
    z-index: -1;
    background-image: url("../img/gamma-bg-1.png");
  }
}

#ru {
  &:after {
    content: '';
    background-image: url("../img/ru.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 10px;
  }
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.start {
  @include row-flex();
  align-items: flex-end;
  padding-bottom: 255px;
}

.tokens {
  &__badge {
    background-image: url("../img/bouble.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    padding: 36px 34px;
    right: -70px;
    top: 50px;
    z-index: 12;
    &__text {
      font-size: 15px;
      text-align: right;
      padding-right: 10px;
    }
    &__number {
      font-size: 45px;
    }
  }

  &__wrapper {
    position: relative;
    //@include row-flex();
    @include size(7);
    @include col();
    //@include row-flex();
  }
  &__title {
    font-family: $bold-font;
    font-size: $big-size;
    line-height: $big-height;
    margin-bottom: 30px;
    letter-spacing: 1.77px;
    //margin: 20px 0 15px 0;
  }
  &__buttons {
    @include row-flex();
    justify-content: space-between;
    padding-right: 40px;
    & > a {
      //@include size(4);
      //@include col();
    }
    & a {
      margin-right: 60px;
      //   @include size(4);
      @include col();
    }
  }
}

.countdown {
  &__wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    @include size(5);
    @include col();
    padding: 30px 60px 0px 60px;
    position: relative;
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__text {
      font-size: $medium-size;
      line-height: $medium-height;
      &-withborder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          right: -65px;
          top: 0;
          background: $opacity-border-color;
          display: block;
          height: 100%;
          width: 1px;
        }
      }
    }
  }
  &__foot {
    background-color: rgba(0, 0, 0, 0.09);
    &__text {
      text-align: center;
    }
    padding: 20px 60px;
    margin: 20px -60px 0px -60px;

  }
  &__bar {
    margin: 0px -15px;
    &__text {
      font-size: 20px;
      display: block;
      letter-spacing: 0.29px;
      text-align: center;
      color: #7ED321;
      line-height: 23px;
    }
  }
  &__bonus {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__border {
    border: 1px solid $opacity-border-color;
    border-radius: 12px;
    padding: 15px;
    margin-top: 20px;
  }
}

.rating {
  &__wrapper {
    @include row-flex();
  }
  margin-top: 55px;
  @include col();
  letter-spacing: 1px;
  font-size: 35px;
  background: $cards-color;
  border-radius: 8px;
  text-align: center;
  width: 25%;
  box-shadow: inset 0 1px 3px 0 rgba(255, 255, 255, 0.5), 25px 1px 25px 0 rgba(0, 0, 0, 0.23);
  padding: 20px 16px 10px 16px;
}

.timer {
  &__number {
    border: 1px solid $opacity-border-color;
    border-radius: 12px;
    padding: 15px 12px 5px 12px;
    font-size: 60px;
    margin-bottom: 20px;
    //line-height: $big-height;

  }
}

#timer {
  &__main {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.button-invite {
  margin-top: 25px;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0.26px;
  //line-height: 21px;
  background-color: #FFEC00;
  padding: 21px 24px;
  display: inline-block;
  text-align: center;
  box-shadow: inset -1px 1px 15px 0 rgba(255, 255, 255, .5), -1px 7px 8px 0 rgba(0, 0, 0, .15);
  border-radius: 9px;

}

.btn-wrapper {
  text-align: center;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  &__item {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: rgba(38, 213, 163, 0.19);
    border-radius: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    & img {
      display: block;
      margin: 0 auto;
    }
  }
}

.burger {
  cursor: pointer;
  //flex-basis: 90px;
  margin-right: auto;
  transition: 0.2s;
  display: flex;
  align-items: center;
  & img {
    max-width: 100%;
    width: 37px;
    height: 20px;
  }
  &:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
}

.bg-one {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-two {
  display: block;
  position: absolute;
  bottom: -30px;
  right: 0;
}

.bg-three {
  display: block;
  position: absolute;
  top: -130px;
  left: 0;
}

.bg-four {
  display: block;
  position: absolute;
  bottom: -20px;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
}

.my-flipster {
  margin-top: 36px;
}

.video {
  position: relative;
  background-image: url("../img/gamma-galax.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: left top;
  &:after {

  }
  &__item {
    //width: 200px;
  }

  &__wrapper {
    max-width: 300px;
  }
}

.section {
  &__text {
    font-size: $big-size;
    text-align: center;
    line-height: $big-height;
    font-family: $bold-font;
  }
}

.relation {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 600px;
}

.relation__ration {
  padding-top: 56.25%;
}

.relation__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background: red;
}

//==================================================flipster slider=====================================================================

.flipster--coverflow .flipster__item .flipster__item__content {
  transform: scale(0.8) rotateY(0deg);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.55;
}

.flipster--coverflow .flipster__item.flipster__item--current .flipster__item__content {
  transform: scale(1) rotateY(0deg);
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}

.flipster__nav__link {
  font-size: 0px;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  &:hover {
    background: (255, 255, 255, 0.8);
  }
}

li.flipster__nav__item.flipster__nav__item--current {
  background: #ffffff;
  border-radius: 100px;
}

.flipster__nav__item {
  display: inline-block;
  margin: 0 15px;
}

.flipster__nav {
  //margin: 0px;
}

//==================================================flipster slider=====================================================================

.product {
  &:after {
    background-image: url("../img/gamma-bg-2.png");
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center bottom -10px;
    //z-index: -1;
  }
  position: relative;
  //background-image: url("../img/img_gress.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 45px;
  //z-index: -1;
  background: #263b5d url(../img/img_gress.png);
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  &__text {
    font-size: $main-size;
    letter-spacing: 1.18px;
    line-height: 22px;
    padding: 0px;
  }
  &__head {
    font-family: $bold-font;
    font-size: $medium-size;
    line-height: 35px;
    margin-bottom: 35px;
  }
  &__item {
    .btn-wrapper {
      font-family: $bold-font;
    }
    padding: 45px 20px 30px 20px;
    max-width: 350px;
    background: red;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 20px 46px 0 rgba(0, 0, 0, 0.14);
    background: linear-gradient(331.03deg, #26D5A3 0%, #26CFB5 31.71%, #27C2DD 100%);
    &-centered {
      background: blue;
      z-index: 2;
      margin: -20px;
      padding: 55px 40px 30px 40px;
      max-width: 420px;
      background: linear-gradient(331.03deg, #26D5A3 0%, #26CFB5 31.71%, #27C2DD 100%);
      //transform: scale(1.1);
    }
  }
  &__link {
    &__wrapper {
      display: block;
      padding: 70px 0px 45px 0px;
    }
    display: block;
    font-size: 18px;
    text-align: center;
    color: #27C6D1;
    text-decoration: underline;
  }
}

//==================================================tabs=====================================================================

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: transparent;
}

.nav > li > a {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.18px;
  font-family: $bold-font;
  color: rgba(255, 255, 255, 0.32);
}

.nav-pills > li > a {
  border-radius: 0px;
}

.tabs {
  padding: 0px 15px;
  &-big {
    margin-bottom: 40px;
    padding: 0 0;
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
      color: #F8E71C;
    }
    .nav > li > a {
      color: #ffffff;
      font-size: 30px;
      line-height: 50px;
      letter-spacing: 0.98px;
      font-family: $bold-font;
    }
  }
}

.tab-content.clubs__tab {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 50px 50px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 450px;
  overflow: hidden;

}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  color: rgba(255, 255, 255, 0.63);
}

//==================================================tabs=====================================================================

.localisation {
  padding-bottom: 75px;
  &__wrapper {
    display: flex;
    margin-top: 40px;
    //margin-bottom: 300px;
    //flex-wrap: wrap;
  }
  padding-top: 100px;
  &__tabs {
    //width: 100%;
    max-width: 380px;
  }
  &__map {
    margin-left: -60px;
  }
}

.clubs {
  &__item {
    margin-bottom: 15px;
    width: 100%;
    padding: 0 30px;
  }
  &__link {
    font-size: $main-size;
    line-height: 22px;
    letter-spacing: 0.9px;
    display: flex;
    align-items: center;
  }
  &__title {
    text-align: center;
    letter-spacing: 1.31px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__img {
    //border-radius: 100px;
    //margin-right: 20px;
    max-width: 80px;
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__description {
    text-align: center;
  }
}

.advantages {
  max-width: 1500px;
  display: block;
  padding-top: 65px;
  padding-bottom: 85px;
  margin: 0 auto;
  background: #253A5D url("../img/bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right -5px;
  //margin-top: -230px;
  position: relative;
  z-index: 2;
  //margin-top: -380px;
  &__wrapper {
    margin-top: 80px;
    @include row-flex();
  }

  &__item {
    @include col();
    @include size(4);
    padding: 0 12px;
    & img {
      display: block;
      margin: 0 auto;
      //border-radius: 100px;
      max-width: 100%;
      //width: 85px;
      margin-bottom: 28px;
      //height: 85px;
    }
    & p {
      font-size: 14px;
      letter-spacing: 0.92px;
      text-align: center;
      line-height: 17px;
      &.advantages__title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.18px;
        margin-bottom: 25px;
      }
    }
  }

}

.sell-advantages {
  //background: #2A324D;
  margin-top: -290px;
  //z-index: -1;
  display: block;
  position: relative;
  padding-top: 290px;
  padding-bottom: 140px;
  background: #2A324D url("../img/gamma-galaxx.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: bottom 40px right;
}

.sell {
  margin-top: 65px;
  &__item {

  }
  &__wrapper {
    @include row-flex();
    margin-top: 90px;
    align-items: stretch;
  }
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include col();
    @include size(4);
  }
  &__chart {
    @include col();
    @include size(8);
  }
  &__maintext {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1.24px;
    font-family: $bold-font;
  }
  &__text {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.78px;
  }
}

.roadmap {
  padding-top: 75px;
  background: #313c61 url(../img/roadmap__bg.png);
  background-size: inherit;
  background-repeat: no-repeat;
  &__wrapper {
    @include row-flex();
    padding-top: 150px;
    justify-content: space-between;
    padding-bottom: 115px;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: -70px;
      right: -70px;
      //width: 100%;
      height: 65%;
      border: 12px solid rgba(255, 255, 255, 0.21);
      border-bottom: none;
      content: '';
    }
  }
  &__item {
    cursor: pointer;
    transition: 0.2s;
    @include col();
    text-align: center;
    position: relative;
    @include size(2);
    &:after {
      opacity: 0;
      transition: 0.2s;
      content: '';
      position: absolute;
      top: -140px;
      left: 0;
      right: 0;
      width: 160px;
      height: 160px;
      background-image: url("../img/Soccer_ball.png");
    }
    &:before {
      opacity: 0;
      -webkit-transition: .2s;
      transition: .2s;
      content: '';
      position: absolute;
      top: -150px;
      left: -54%;
      z-index: -1;
      right: 0;
      width: 260%;
      height: 100%;
      background-image: url(../img/shadow_white.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover {
      &:after {
        opacity: 1;
        transition: 0.2s;
        content: '';
        position: absolute;
        top: -140px;
        left: 0;
        right: 0;
        width: 160px;
        height: 160px;
        background-image: url("../img/Soccer_ball.png");
      }
      &:before {
        opacity: 1;
        -webkit-transition: .2s;
        transition: .2s;
        content: '';
        position: absolute;
        top: -150px;
        left: -54%;
        z-index: -1;
        right: 0;
        width: 260%;
        height: 100%;
        background-image: url(../img/shadow_white.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__text {
    margin-top: 60px;
    font-size: $main-size;
    letter-spacing: 0.98px;
    line-height: 18px;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__tshirt {
    position: relative;
    &__text {
      position: absolute;
      bottom: 55px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 25px;
      color: #000000;
      font-family: $bold-font;
    }
  }
}

.stages {
  background-image: url("../img/gamma-earth-bg-1.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top -40px right 200px;
  padding-top: 30px;
  &__progress {
    margin-top: 65px;
    margin-left: -70px;
    margin-right: -70px;
    padding-bottom: 100px;
    & img {
      width: 100%;
    }
  }
  &__wrapper {
    padding-top: 90px;
  }
  &__item {
    //max-width: 195px;
    box-shadow: 2px 20px 46px 0 rgba(0, 0, 0, 0.14);
    background: linear-gradient(331.03deg, #26D5A3 0%, #26CFB5 31.71%, #27C2DD 100%);
    border-radius: 8px;
    padding: 16px 16px;
    text-align: center;
    margin: 0 10px;
    & .button-invite {
      font-family: $bold-font;
      font-size: 14px;
      padding: 12px 28px;
      line-height: 13px;
    }
    &-gone {
      opacity: 0.2;
      pointer-events: none;
    }
    &-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &__title {
    font-family: $bold-font;
    letter-spacing: 0.82px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  &__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.75px;
    font-family: $bold-font;
    margin-bottom: 30px;
  }
  &__percent {
    font-family: $bold-font;
    font-size: 75px;
    line-height: 76px;
    letter-spacing: 0.94px;
    display: block;
    margin-bottom: 5px;
  }
}

//==================================================owl=====================================================================

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  color: #F8E71C;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -28px;
  position: absolute;
  &:active, &:focus {
    outline: none;
  }
}

.owl-carousel .owl-nav button.owl-next {
  right: -28px;
  position: absolute;
  &:active, &:focus {
    outline: none;
  }
}

//dots

.owl-dots {
  text-align: center;
  margin: 45px 0 0 0;
}

.owl-carousel button.owl-dot {

  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  display: inline-block;
  vertical-align: middle;
  margin: 0px 15px;
  border-radius: 100px;
  text-align: center;
}

.owl-carousel button.owl-dot.active {
  background-color: #ffffff;
}

//==================================================owl=====================================================================

.team {
  padding-top: 95px;
  padding-bottom: 100px;
  background: url("/img/Futbolnoe-pole-nochyu.png");
  background-repeat: no-repeat;
  background-size: inherit;
  //background-position: bottom 40px right;
  &__wrapper {
    @include row-flex();
    //align-items: center;
    margin-top: 40px;

  }
  &__img {
    border-radius: 200px;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    display: block;
    &-wrapper {
      background-color: rgba(0, 0, 0, 0.21);
      padding: 15px;
      position: relative;
      border-radius: 4px;
      transition: 0.2s;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      &:hover {
        transition: 0.2s;
        background-color: rgba(248, 231, 28, 0.11);
        &:before {
          transition: 0.2s;
          border-top: solid 15px rgba(248, 231, 28, 0.11);
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1;
        //border-top-right-radius: 8px;
        border-top: solid 15px rgba(0, 0, 0, 0.21);
        border-left: solid 55px transparent;
        border-right: solid 55px transparent;
        transition: 0.2s;
      }
    }
    &-big {
      width: 140px;
      height: 140px;
      border: 20px solid rgba(0, 0, 0, 0.13);
      box-sizing: content-box;
    }

  }

  &__link {
    margin: 0 auto;
    margin: 12px 0px 20px 0px;
    display: block;
  }
  &__description {
    letter-spacing: 0.88px;
    font-size: 14px;
    line-height: 18px;

  }
  &__title {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.18px;
    margin-top: 35px;
    margin-bottom: 6px;
    //font-family: $bold-font;
    &-big {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 1.18px;
    }
  }
  &__prof {
    font-size: 12px;
    &-big {
      font-size: 14px;
    }
  }
  &__human {
    @include col();
    @include size(6);
    &__wrapper {
      background-color: rgba(0, 0, 0, 0.44);
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      padding: 40px 100px;
      text-align: center;
    }
    display: none;
    opacity: 1;
    transition: 0.2s;
    &.active {
      display: block;
      opacity: 1;
      transition: 0.2s;
    }
  }
  &__list {
    @include col();
    @include size(6);
    &__panel {
      @include row-flex();
    }
  }
  &__item {
    &.active {
      .team__img-wrapper {
        background-color: rgba(248, 231, 28, 0.21);
        padding: 15px;
        position: relative;
        border-radius: 4px;
        transition: 0.2s;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        &:before {
          transition: 0.2s;
          border-top: solid 15px rgba(248, 231, 28, 0.21);
        }
      }
    }
    @include size(3);
    @include col();
    margin-bottom: 60px;
    text-align: center;
    cursor: pointer;
  }
}

.partners {
  background: url("/img/partnersbg.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: bottom right;
  padding-bottom: 155px;
  padding-top: 100px;
  &__wrapper {
    margin-top: 30px;
    justify-content: space-between;
    @include row-flex();
  }
  &__item {
    @include col();
    @include size(2);
    margin: 20px 0px;
  }
}

.news {
  padding-top: 70px;
  padding-bottom: 60px;
  background: url("/img/blockchain.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: bottom right;
  &__wrapper {
    margin-top: 80px;
  }
  &__item {
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 8px 0 #000;
    border-radius: 8px;
    margin: 5px;
    max-width: 350px;
    & img {
      margin: 0 auto;
      display: block;
      margin-bottom: 22px;
      width: 62px !important;
      height: auto;
    }
  }
  &__description {
    font-size: 16px;
    text-align: center;
    font-style: oblique;
    letter-spacing: 1.05px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  &__author {
    &__wrapper {
      text-align: right;
    }
    letter-spacing: 1.05px;
    line-height: 19px;
    font-size: 16px;
    text-align: left;
  }
  &__link {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    letter-spacing: 1.05px;
    margin-top: 40px;
    display: block;
  }
}

.faq {
  padding-top: 25px;
  &__wrapper {
    margin-top: 80px;
    @include row-flex();
    & * {
      transition: 0.2s;
    }
  }
  &__item {
    transition: 0s;
    @include col();
    margin-bottom: 50px;
    position: relative;
    @include size(4);
    &:not(.active):hover {
      z-index: 2;
      transition: 0.2s;
      transform: translateY(-10px);
      position: relative;
      //transform: translateY(-10px);
      & .faq__question {
        transition: 0.2s;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #efeff4;
        position: relative;
        &:after {
          transition: 0.2s;
          content: '';
          height: 10px;
          width: 100%;
          left: 0;
          right: 0;
          //display: block;
          background: #13a5d5;
          opacity: 1;
          position: absolute;
          bottom: -10px;
        }
      }
    }
    &.active {
      & .faq__answer {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: block;
        opacity: 1;
        z-index: 99;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        transition: 0s;

      }
      & .faq__question{
        background: #2b334d url("/img/ar2w.svg") center right 20px;
        background-repeat: no-repeat;
        //padding-bottom: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        & span {
          color: #ffffff;
        }
        &:after {
          display: none;
        }
      }
    }
  }
  &__question {
    background: #ffffff url("/img/ar2 .svg") center right 20px;
    background-repeat: no-repeat;
    border-radius: 8px;
    transition: 0.2s;
    &:after {
      transition: 0.2s;
      content: '';
      height: 10px;
      opacity: 1;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -10px;
      z-index: 2;
      //display: block;
      background: transparent;
    }
    & > span {
      color: #222A43;
      line-height: 25px;
      letter-spacing: 0.36px;
      padding: 20px;
      display: block;
      font-size: 18px;
    }
  }
  &__answer {
    padding: 20px;
    background: #efeff4;
    opacity: 0;
    display: none;
    z-index: 123;
    transition: 0s;
    & > p {
      color: #222a43;
    }
  }
}
