<div class="first-block">
    <header>
        <div class="wrapper">
            <div class="rowz">
                <div class="logo">
                    <a class="logo__link" href="/">
                        <img src="../img/logo.png" class="">
                    </a>
                </div>
                <div class="logo__text">
                    <p>
                        Footbik <br>
                        Блокчейн для детских <br>
                        и юношеских футбольных школ
                    </p>
                </div>
                <div class="menu">
                    <a class="custom__btn custom__btn-dark custom__btn-big bounty">
                        BOUNTY
                    </a>
                    <a class="custom__btn registration">
                        РЕГИСТРАЦИЯ
                    </a>
                    <div class="custom-select">
                        <select>
                            <option data-value="ru" data-url="#ru" value="0">РУ</option>
                            <option data-value="en" data-url="#en" value="1">EN</option>
                            <option data-value="ua" data-url="#ua" value="2">UA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
