<section class="first-block">
    <!--<img src="/img/bg_footb.png" class="bg-one" alt="">-->
    <!--<img src="/img/gamma-bg-1.png" class="bg-two" alt="">-->
    <header>
        <div class="wrapper">
            <div class="rowz">
                <div class="burger">
                    <img class="burger" src="/img/ic_burger.svg">
                </div>
                <div class="social">
                    <a class="social__item" href="#">
                        <img src="/img/fb_ic.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_inst.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_twi.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_youtube.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_linked.png">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/Medium-logo.png">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_z.png">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/telegram-logo.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_b.svg">
                    </a>
                    <a class="social__item" href="#">
                        <img src="/img/ic_Cat.svg">
                    </a>
                </div>
                <div class="menu">
                    <a class="custom__btn custom__btn-dark bounty">
                        BOUNTY
                    </a>
                    <a class="custom__btn registration">
                        РЕГИСТРАЦИЯ
                    </a>
                    <div class="custom-select">
                        <select>
                            <option data-value="ru" data-url="#ru" value="0">РУ</option>
                            <option data-value="en" data-url="#en" value="1">EN</option>
                            <option data-value="ua" data-url="#ua" value="2">UA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
